@font-face {
    font-family: 'Cabin';
    src: url('../../static/fonts/Cabin/Cabin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../../static/fonts/Cabin/Cabin-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic; 
}

@font-face {
    font-family: 'Atkinson';
    src: url('../../static/fonts/Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson';
    src: url('../../static/fonts/Hyperlegible/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
    font-weight: 400;
    font-style: italic; 
}